<!-- Navigation -->

        <!-- Dotnav -->
        <!--div class="hidden-xs" data-spy="affix" id="dot-nav">
<ul>

<li class="awesome-tooltip" title="Обучение">
<a class="page-scroll" href="#learning"></a>
</li>
<li class="awesome-tooltip" title="Развитие">
<a class="page-scroll" href="#marketing"></a>
</li>
<li class="awesome-tooltip" title="О нас">
<a class="page-scroll" href="#team"></a>
</li>
</ul>
</div-->

        <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse-side" data-target=".side-collapse" data-target-2=".side-collapse-container" style="margin-top:3px">
                        <i class="fa fa-bars"></i>

                    </button>

                    <!--a class="navbar-brand-1 page-scroll" href="#page-top">
<img style="height:60px; margin-top: -7px;" src="/img/logo@2x_poa.png" class="img-responsive" />

</a-->



                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->


                    <a class="navbar-brand-1 page-scroll hidden-xs hidden-sm hidden-md" href="/">
                        <img style="height:60px; margin-top: -8px;" src="/img/logo@2x_da_new.png" class="img-responsive" />

                    </a>
                    <a class="navbar-brand page-scroll hidden-lg" href="/"></a>

                    <p id="tel" class="text-center hidden-lg hidden-md hidden-sm" style="color: #000;"><!--i class="fa fa-phone fa-fw" style="color:#CA2438;"></i-->&nbsp;{module_contentholder,name="phone"}
            </p>


                    <!-- Переключатель участий мелкий-->



                </div>


                <!-- Collect the nav links, forms, and other content for toggling -->
                <div id="mob-menu" class="navbar-cool side-collapse in" style="background-color: #fff;opacity: 0.95;">
                    <div class="navbar-left">
                        <ul class="nav navbar-nav">
                            <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                            <li class="hidden">
                                <a href="#page-top"></a>
                            </li>
                            <li id="tel" class="hidden-xs">
                <span style="color: #000;"><!--i class="fa fa-phone fa-fw" style="color:#CA2438;"></i-->&nbsp;{module_contentholder,name="phone"}
                </span>
            </li>
                            <li class="hidden-xs hidden-sm" style="padding-top: 9px;margin-left: 20px;">


                <div class="fb-like" data-href="https://www.facebook.com/dentalagency.ru/" data-layout="button_count" data-action="recommend" data-show-faces="true" data-share="true"></div>

            </li>
                            <!-- Переключатель участий большой-->



                        </ul>

                    </div>

                    <div class="navbar-right" id="nav-nav-id">

                        <ul class="nav navbar-nav navbar-right">


                            <li>
                                <a class="page-scroll" href="/#services">Услуги</a>
                            </li>
                            <li>
                                <a class="page-scroll" href="/#solutions">Решения</a>
                            </li>

                            <li>
                                <a class="page-scroll" href="/#description">О нас</a>
                            </li>

                            <!--li>
                                <a class="page-scroll" href="#team">Контакты</a>
                            </li-->



                            <li>
                                <a data-toggle="modal" data-target="#modalcontact" href="#modalcontact" class="btn btn-lg da-yellow-btn page-scroll" style="margin-left: 10px !important; margin-right: 10px !important; margin-bottom: 0px; font-weight: 700; font-size: 16px;">
                                    Связаться
                                </a>

                            </li>

                            <!--li><a href="/contacts">Контакты</a></li-->

                            <div class="hidden-lg hidden-md hidden-sm text-center">
                                <p style=" font-size: 18px; color: #7F8C9B !important; font-family: 'proxima-nova' !important; font-weight: 600; padding: 20px; text-align: center; width: 280px !important; margin-bottom: 0px; margin-left: auto; margin-right: auto;     margin-top: 25px;"><i class="fa fa-phone fa-fw" style="color:#7F8C9B;"></i>&nbsp;{module_contentholder,name="phone"}</p>
                            </div>
                            <div class="hidden-lg hidden-md hidden-sm text-center">

                                <ul class="list-inline" style="inline-flex">
                                    <li>
                                        <a href="https://www.facebook.com/dentalagency.ru/?ref={module_pageaddress}" class="btn-social btn-outline" target="blank"><i class="fa fa-fw fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/dentalagency/?ref={module_pageaddress}" class="btn-social btn-outline" target="blank"><i class="fa fa-fw fa-instagram"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://www.youtube.com/channel/UCv9NJqHpCLuhSnQOeDdJ75Q?ref={module_pageaddress}" class="btn-social btn-outline" target="blank"><i class="fa fa-fw fa-youtube"></i></a>
                                    </li>

                                </ul>
                            </div>
                        </ul>
                    </div>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
